/* Fonts ---------------------------- */

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro'), url(fonts/SourceCodePro-Regular.ttf) format('truetype');
}

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #2D2D30;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: solid 1spx black;
}

.contenido {
  display: flex;
  height: 100%;

}

.title-bar {
  -webkit-app-region: drag;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  height: 32px;
  padding: 0px;
  color: #ADADAD;
}

.title {
  position: fixed;
  top: 5px;
  left: 12px;
  line-height: 32px;
  font-size: 14px;
}

.title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 1px;
  right: 0px;
}

.title-bar-btns button {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  color: #F1F1F1;
  font-size: 16px;
}

.title-bar-btns button:hover {
  background-color: #3F3F41;
}

.content {
  padding: 12px;
  color: #CCCCCC;
  flex: 1;
  position: relative;
  overflow: hidden;
}
}

a {
  color: #68217A;
}


.trinput{
  height: 50px;
}
.tdinput{
  padding-left: 20px;
}

.input {
  background: #2c3e50;
  color: #CCCCCC;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  float: right;
  width: 320px;
  height: 2em;
}

.input-base {
  background: #2c3e50;
  color: #CCCCCC;
  border: none;
  text-align: center;
  height: 2em;
}

.pform {
  display:flex;
  flex-direction: row;
  align-items: baseline;
}
.labelform {
  width: 21px;
  height: 10px;
  display: inline-block;
  border: 1px black solid;
}
.spanform {
  width:240px;
}

/**/

.selectize-control * {
        cursor: pointer;
    }

/**/



.boton {
  border-radius: 6px;
  width: 100px;
  height: 33px;
  margin-left: 10px;
  color: inherit;
  background-color: transparent;
}
.boton:focus {
  outline: none;
  background-color: transparent;
}
.boton:active {
  border-color:  hsl(0,0%,88%);
}
